version: "3.9"

services:
  api:
    build: .
    container_name: meu-projeto-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app/src
    volumes:
      - .:/app
    restart: unless-stopped
